@page
@model SocialBrothersAPIDemo.Pages.AdresTableModel
@{
    ViewData["Title"] = "Display Data";
    var data = (Adres)ViewData[""];
}
<div class="table">
    <table>
        <thead>
         
        </thead>
        <tbody>

        </tbody>
    </table>
</div>